/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizespeed;
  overflow-y: overlay;
  background-color: #000;
  color: #fff;
}

/* CSS main */
.wrapper {
  margin: 36px 32px 0;
}

/* Introduce */
.introduce__image {
  width: 100%;
  min-width: 246px;
  max-width: 220px;
  object-fit: cover;
  border-radius: 50%;
}

.gradient-text {
  -webkit-background-clip: text;
  @apply bg-gradient-to-t from-blue-500 to-cyan-300 text-transparent;
  overflow: hidden;
  text-wrap: nowrap;
  border-right: 2px solid #fff;
  animation: typing-text infinite 3s steps(40), blink linear 0.1s infinite;
}

@keyframes typing-text {
  from {
    width: 0%;
    opacity: 0.3;
  }
  to {
    width: 350px;
  }
}

/* Project Item */
.project__item--width {
  min-width: 400px;
  width: 48%;
}
